div.block1 > div {
    width: 100px;
    height: 24px;
    background-color: rgb(158, 156, 156);
    border: solid black 1px;
    border-radius: 5px;
    text-align: left;
    color: gray bold;
    position: relative;
    cursor: pointer
}
div.block2 > div {
    width: 100px;
    height: 24px;
    background-color: rgb(158, 156, 156);
    border: solid black 1px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s all
}
div.block1 > div:hover div.block2 {
    display: block;
    position: absolute;
    left: 80%;
    top: 90%;
    z-index: 1
}